
@{
    ViewData["Title"] = "CategorySection";
}



<!-- Views/Welcome.cshtml -->
@{
    ViewData["Title"] = "Welcome";
}

<div style="text-align: center; padding: 20px;">
    <h1>SmartInventory</h1>
    <p>Product  to curate, organize, and optimize your inventory.</p>

    <!-- Add images below as needed -->
    <img src="/img/banner_image.svg" alt="SmartInventory Admin Tools" style="width: 300px; height: auto;">
    <!-- Add more images as needed -->

    <p> manage your product portfolio with SmartInventory's tools.</p>
</div>
