
@{
    ViewData["Title"] = "CategorySection";
}

<h1>Blank</h1>

<!-- Views/Welcome.cshtml -->
@{
    ViewData["Title"] = "Welcome";
}

<div style="text-align: center; padding: 20px;">
    <h1>SmartInventory</h1>
    <p>Product  to curate, organize, and optimize your inventory.</p>

    <!-- Add images below as needed -->
    <img src="https://www.freepik.com/download/preview/19579855" alt="SmartInventory Admin Tools" style="width: 300px; height: auto; margin: 10px;">
    <!-- Add more images as needed -->

    <p> manage your product portfolio with SmartInventory's tools.</p>
</div>
