<!-- _CategorySidebar.cshtml -->
<div class="sidebar sidebar-expand-md sidebar-light  border-end shadow-sm mr-3">
    <a class="active" href="#home">Inventory Transaction</a>

    <a asp-action="AddTransactions" asp-controller="InventoryTransc">Transactions</a>

    <a asp-action="ManageTransactions" asp-controller="InventoryTransc">Manage Transactions</a>
    <hr />
@*     <a asp-action="BulkTransaction" asp-controller="InventoryTransc">Bulk Transactions</a>
 *@    <hr />
    <a asp-action="Index" asp-controller="Home">Exit</a>
    <!-- Add more links or customize as needed -->
</div>
