<!-- _CategorySidebar.cshtml -->
<div class="sidebar">
    <a class="active" href="#home">Inventory Transaction</a>

    <a asp-action="AddTransactions" asp-controller="InventoryTransc">Transaction</a>

    <a asp-action="ManageTransactions" asp-controller="InventoryTransc">Manage Transaction</a>
    <hr />
    <a asp-action="StockTransactionList" asp-controller="InventoryTransc"> Stock accord. Transactions </a>
    <hr />
    <a asp-action="Index" asp-controller="Home">Exit</a>
    <!-- Add more links or customize as needed -->
</div>
