@model IEnumerable<SmartInventory.Models.Category>

@{
    ViewData["Title"] = "CategoryList";
}

<h4>Products Category View</h4>
<hr />
<br />
<div class="container border">
    <div class="search-bar pb-3">
        <input type="text" placeholder="Search categories..." id="txtSearch">
        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                <a asp-action="CategoryDetails" asp-route-id="@item.Id">View Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>